body {
    background-color: rgb(204, 204, 204);
    opacity: 80%;
}

a {
    text-decoration: none;
}

#firsthr {
    margin: auto;
    max-width: 600px;
}

hr {
    max-width: 150px;
    margin: 0;
}

h1{
    text-align: center;
}
h1, h2, h3{
    color: rgb(58, 33, 15);
}
.under {
    text-decoration: underline;
}

p {
    text-align: left;
    padding: 5px;
    max-width: 700px;
    margin: 0;
    margin-block-end: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.underl{
    text-align: center;
    max-width: 600px;
    border: none;
    margin: 6px;
    
}
p sup{
    text-decoration: underline;
    font-size: 10px;
}

table {
    background-color: antiquewhite;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid black;
    
}

thead {
    text-align: center;
}

tbody {
    th {
        text-align: left;
    }

    td {
        text-align: right;
    }
}

h3 {
    margin-block-end: 0px;
}

ul {
    margin: 2px;
}
ul a {
    font-size: 12px;
}
button:hover{
    background-color: orange;
    color: red;
}
button:active{
    background-color: red;
    color: orange;
}
.underl:nth-of-type(1n){
    background-color: rgb(160, 159, 159);
}
.underl:nth-of-type(2n){
    background-color: rgb(109, 109, 109);
}
.underl:hover{
    color: white;
}
h2:hover{
    color: black;
}
.livros li:hover{
    text-decoration: underline;
}