a {
    text-decoration: none;
}
h1{
    text-align: center;
}
p {
    text-align: left;
    padding: 5px;
    max-width: 700px;
}
table {
    background-color: antiquewhite;
    border-collapse: separate;
    border-radius: 10px; 
    border: 1px solid black;
}

thead{
    text-align: center;
}
tbody{
    th{
        text-align: left;
    }
    td{
        text-align: right;
    }
}
