table {
    border-collapse: collapse;
    border: 1px solid black;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
  }
  
  thead,
  tfoot {
    background-color: lightcoral;
  }
  
  th,
  td {
    padding: 8px 10px;
  }
  
  td:nth-last-of-type {
    text-align: right;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: lightsalmon;
  }
  tbody > tr:nth-of-type(odd) {
    background-color: darksalmon;
  }
  
  tfoot td {
    text-align: center;
  }
  
  tfoot td {
    font-weight: bold;
  }
#champs{
  font-size: 12px;
  width: 340px;
  height: 100px;
  border: 2px solid rgb(114, 114, 235);
  text-align: center;  
  border-left-width: 4px;
  box-sizing: border-box;  
  border-radius: 6% 0% 6% 0%;
}
#title{
  background-color: #C73659;
  width: 420px;
  height: 20px;
  padding: 10px;
  border: 2px solid #A91D3A;
  border-left-width: 6px;
  margin-bottom: 4px;
}